.contact-data--title {
  color: $skyblue;
  font-weight: bold;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid $border-color;
  margin-bottom: 0.5rem;
}

.contact-rrss {
  .nav-link {
    color: $gray-600;
    font-size: 2rem;
    &:hover,
    &:focus {
      color: $blue;
    }
  }
}

.form-control {
  border-width: 2px;
}

label {
  font-weight: bold;
}
