.bordered-box {
  padding: 1.25rem;
  background: $white;
  border: 1px solid $border-color;
  height: 100%;
  border-radius: 0.5rem;
}

/**
 * CTA: Styles.
 */
.cta--block {
  position: relative;
  overflow-x: hidden;
  img {
    margin-left: 50%;
    transform: translateX(-50%);
    @include media-breakpoint-up(xxl) {
      width: 100%;
    }
  }
}

.cta--wrapper {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: $white;
  font-weight: bold;
  p {
    margin-bottom: 0;
  }
  .cta-featured-text {
    font-size: 1.75rem;
  }
  .btn {
    font-weight: bold;
  }
  @include media-breakpoint-up(sm) {
    font-size: 1.5rem;
    .cta-featured-text {
      font-size: 2.5rem;
    }
  }
  @include media-breakpoint-up(lg) {
    font-size: 1.75rem;
    .cta-featured-text {
      font-size: 3rem;
    }
  }
}

/**
 * CTA with image
 */
 .cta-wi--block {
  position: relative;
  overflow-x: hidden;
  color: $white;
  padding: 3.5rem;
  background-image: linear-gradient(to right, #1f71b7, #0075af, #0077a3, #007896, #007889, #007982, #007a79, #007a6f, #007c67, #007d5c, #007e4f, #077e40);
 }

/**
 * Buttons.
 */
.btn-info {
  color: $white;
  &:focus,
  &:hover {
    color: $white;
    background: $skyblue;
    border-color: $skyblue;
  }
}

/**
 * Views exposed form.
 */
.views-exposed-form {
  .btn {
    border-radius: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


/**
 * Person paragraph.
 */
.person-wrap {
  padding: 1rem;
  border: 1px solid $gray-300;
  border-radius: 1rem;
  img {
    border-radius: 1rem;
  }
  &:hover {
    background: $skyblue;
    color: $white;
  }
}

/**
 * Date tap.
 */
.date-tap {
  border-bottom: 2px solid $skyblue;
  margin-bottom: 1rem;
  .date-item {
    color: $white;
    background: $skyblue;
    display: inline-block;
    padding: 0.25rem 1rem;
    border-top-right-radius: 1rem;
  }
}


/**
 * RRSSB buttons.
 */
 .rrssb-buttons a:hover {
  text-decoration: none !important;
 }

 .rrssb-buttons li.rrssb-facebook a {
  background-color: #305f97;
}

.rrssb-buttons li.rrssb-facebook a:hover {
  background-color: #244872;
}

.rrssb-buttons li.rrssb-twitter a {
  background-color: #0f75bd;
}

.rrssb-buttons li.rrssb-twitter a:hover {
  background-color: darken(#0f75bd, 8%);
}

.rrssb-buttons li.rrssb-whatsapp a {
  background-color: #0f7568;
}

.rrssb-buttons li.rrssb-whatsapp a:hover {
  background-color: darken(#0f7568, 8%);
}

.rrssb-buttons li.rrssb-email a {
  background-color: #015fb9;
}

.rrssb-buttons li.rrssb-email a:hover {
  background-color: darken(#015fb9, 8%);
}
