.header {
  .navbar {
    .container {
      max-width: 100%;
    }
  }
}

#navbar-top {
  background: $blue;
  a,
  .nav-link {
    font-size: 1.5rem;
    color: $white;
    &:hover,
    &:focus {
      color: $red;
    }
  }
}

.region-secondary-menu {
  width: 100%;
  align-items: center;
  justify-content: flex-end !important;
  > * {
    flex: 0 0 auto;
    width: auto;
  }
}


.menu--main {
  .nav-link {
    text-transform: uppercase;
  }
}

/**
 * Breadcrumb and title region styles.
 */
.breadcrumb--section {
  position: relative;
  text-align: center;
  overflow-x: hidden;
  margin-bottom: 4rem;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    background-image: linear-gradient(to right, #1f71b7, #0075af, #0077a3, #007896, #007889, #007982, #007a79, #007a6f, #007c67, #007d5c, #007e4f, #077e40);
  }
  &,
  a {
    color: $white;
  }
  img {
    margin-left: 50%;
    transform: translateX(-50%);
    @include media-breakpoint-down(sm) {
      height: 250px;
      min-height: 100%;
      width: auto;
    }
    @include media-breakpoint-up(xxl) {
      width: 100%;
    }
  }
  .absolute-container {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      & > * {
        flex: 0 0 auto;
        width: 100%;
      }
    }
  }
  h1 {
    font-weight: 800;
    margin-top: 0.5rem;
    @include media-breakpoint-down(sm) {
      font-size: 26px;
    }
  }
  .breadcrumb {
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }
  .breadcrumb-item:last-child {
    &:before {
      font-weight: 400;
    }
    font-weight: 800;
  }
}

.page-w-header-cta {
  .breadcrumb--section {
    margin-bottom: 0;
  }
  .highlighted {
    margin-bottom: 4rem;
  }
}
