.views-exposed-form {
  margin: 2rem 0;
  .flex-wrap {
    > * {
      margin-right: 1.5rem;
    }
  }
  label {
    margin-block: 0.5rem;
  }
}

a {
  .img-wrap {
    background: $skyblue;
  }
  &:hover:not(.btn) {
    text-decoration: underline;
    .img-wrap img {
      opacity: 0.8;
    }
  }
}

.pagination {
  justify-content: center;
}

.page-item  {
  margin-right: 0.5rem;
  .page-link {
    font-weight: bold;
    border-radius: $border-radius;
    &:hover {
      text-decoration: none;
    }
  }
}
